<p *ngIf="!hideIntervalControls">Please enter the interval of time you would like the number frequencies returned to you.</p>
<p *ngIf="hideIntervalControls">Please enter number you wish to add to the frequency count bellow.</p>

<div class="input-group" *ngIf="!hideIntervalControls">
  <input class="form-control" id="interval" type="number" [min]="1" [value]="interval">
  <button class="btn btn-primary" id="startButton" (click)="setInterval()"  [disabled]="!interval || interval < 1">Set Interval</button>
</div>

<div class="container" *ngIf="hideIntervalControls">

  <div class="input-group" style="width: 20em">
    <input class="form-control" id="numberEntry" type="number">
    <button class="btn btn-primary" id="numberButton">Add</button>
  </div>

  <br>

  <textarea id="serverMessages" class="form-control me-3" readonly rows="10" [value]="serverText" >
  </textarea>
  <br>
  <button id="haltButton" class="btn btn-primary me-3">Halt</button>
  <button id="resumeButton" class="btn btn-success me-3">Resume</button>
  <button id="quitButton" class="btn btn-danger me-3">Quit</button>
</div>
